.portfolio{
    position: relative;

    .progress{
        position: sticky;
        top: 0;
        left: 0;
        padding-top: 50px;
        text-align: center;
        color: orange;
        font-size: 30px;

        .progressBar{
            height: 6px;
            background-color: white;

        }

    }

}